pandas
sqlalchemy
psycopg2-binary
python-dotenv
undetected-chromedriver
selenium
beautifulsoup4
uvicorn
fastapi
streamlit
plotly
numpy
requests
python-multipart
protobuf>=4.25.8 # not directly required, pinned by Snyk to avoid a vulnerability